nav{
    background-color:rgb(34, 36, 165);
    margin-top: 5rem;
    align-items: center;

}
header{
    background-color:rgb(34, 36, 165) ;
    align-items:center;
}

main{
    background-color: rgb(138, 187, 229);
}


footer{
    background-color: rgb(138, 187, 229);
}