nav {

    background-color: rgb(34, 36, 165);

    margin-top: 5rem;

    align-items: center;

    color: white;

    ul {

        margin: 0;

        li {

            background-color: blue($color: #000000);

        }

    }

}